@import url(../modal.css);
@import url(../form.css);

.checkbox {
    margin-bottom: 15px;
}

.checkbox label {
    display: inline-flex;
    color: #333;
}

.checkbox input {
    margin-right: 5px;
    width: auto;
    height: auto;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}