html, body {
    font-family: Tahoma, Verdana, sans-serif;
    background-color: rgb(24, 26, 27);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}